@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    -fx-font-family: "Inter", sans-serif;
}

.crop-pane, .upload-pane, .process-area, .edge-detect-pane{
    -fx-background-color: #FFF;
}

.process-area{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 1, 0, -1, 0);
}

.crop-pane{
    -fx-padding: 30 0 0 0;
}

.upload-pane, .edge-detect-pane{
    -fx-padding: 30 25 0 25;
}

.heading{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.sub-heading{
    -fx-text-fill: #475467;
    -fx-font-size: 14;
}

.edge-detect-pane .sub-heading{
    -fx-font-size: 12;
    -fx-text-fill: #9D9D9D;
}

.small-heading{
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.sidebar-btn{
    -fx-cursor: hand;
}

.upload-pane .drag-drop-group{
    -fx-border-style: segments(6, 6, 6, 6)  line-cap round ;
    -fx-border-width: 1.75;
    -fx-border-color: #D2D4DA;
    -fx-border-radius: 10;
}

.upload-pane .drag-drop-group .drag-drop-head, .sidebar-btn-lbl {
    -fx-font-size: 15;
}

.upload-pane .drag-drop-group .drag-drop-head {
    -fx-font-weight: bold;
}

.upload-pane .drag-drop-group .drag-drop-txt{
    -fx-font-size: 13;
}
.upload-pane .sub-heading, .drag-drop-txt{
    -fx-text-fill: #868e96;
}


.scroll-pane {
     -fx-background-color: transparent;
}


.uploaded-file {
    -fx-border-width: 1.75;
    -fx-border-color: #D2D4DA;
    -fx-border-radius: 10;
    -fx-padding: 12;
}

.processing-image{
    -fx-border-width: 1;
    -fx-border-color: #D2D4DA;
    -fx-border-radius: 8;
    -fx-padding: 8;
    -fx-font-size: 11;
}

.processed-image{
    -fx-font-size: 10;
}

.upload-pane .drag-drop-group-active, .uploaded-file-active{
    -fx-border-color: #101223;
}

.file-icon-container{
    -fx-border-width: 1.25;
    -fx-border-color: #E4E7EC;
    -fx-border-radius: 8;
    -fx-background-color: #FFF;
}

.crop-pane .file-icon-container{
    -fx-border-radius: 10;
}


.progress-bar{
    -fx-accent: black;
    -fx-background-radius: 5;
}

.progress-bar .bar {
    -fx-background-radius: 0;
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-accent, -7%), derive(-fx-accent, 0%), derive(-fx-accent, -3%), derive(-fx-accent, -9%) );
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.44em;
}

.progress-bar .track {
    -fx-background-radius: 0;
    -fx-background-radius: 5;
}

.percent-txt {
    -fx-padding: 0, 0, 200,0;
}

.crop-pane .btn{
    -fx-border-radius: 8;
    -fx-border-width: 1.25;
    -fx-border-color: #E4E7EC;
}

.first-image{
    -fx-padding: 2px;
    -fx-border-width: 2.5px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 6;
}

.process-area .sub-heading{
    -fx-font-size: 9.5;
}

.processed-file-size{
    -fx-font-size: 9;
}

.stretch-btn, .stretch-btn-active{
    -fx-text-fill: #101828;
    -fx-font-size: 19;
    -fx-font-weight: 600;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 1.25;
}

.stretch-btn{
    -fx-background-color: #F4F4F4;
    -fx-border-color: #E4E7EC;
    -fx-cursor: hand;
}

.stretch-btn-active{
    -fx-background-color: #E5E5E5;
    -fx-border-color: #101828;
    -fx-border-width: 2;
}

.edge-detect-pane .confirm-btn{
    -fx-background-color: #101828;
    -fx-background-radius: 8;
    -fx-font-weight: 700;
    -fx-text-fill: #FFF;
    -fx-font-size: 15;
    -fx-cursor: hand;
}

.sidebar-btn-active{
    -fx-background-radius: 8;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 8, 0, 0, 0);
}

.process-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.process-pane > .viewport {
    -fx-background-color: transparent;
}

.process-pane > .corner {
    -fx-background-color: transparent;
}

/* If you want to style the content inside the ScrollPane */
.process-pane > .viewport > * {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.inside-process-pane{
    -fx-border-color: #D5DBDF;
    -fx-border-radius: 8;
    -fx-background-color: #FFF;
    -fx-background-radius: 8;
}

.three-dot-icon-active{
    -fx-border-width: 1.25;
    /* -fx-border-color: #101828; */
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    /* -fx-background-color: #E5E5E5; */
    -fx-background-color: #F4F4F4;
    -fx-border-color: #E4E7EC;
    -fx-cursor: hand;
}

.three-dot-icon{
    -fx-border-color: #FFF;
    -fx-background-color: #FFF;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}